{
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": false,
    "xmlSortAttributesByKey": true,
    "xmlWhitespaceSensitivity": "ignore",
    "plugins": [
        "@prettier/plugin-xml"
    ]
}